# === Node.js ===
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === Java (Gradle, Maven, IDE) ===
*.class
*.jar
*.war
*.ear

# Gradle
.gradle/
build/

# Maven
target/

# IDEs
*.iml
.idea/
*.log
.vscode/
*.swp

# === OS-specific ===
.DS_Store
Thumbs.db

# === Logs ===
logs/
*.log

